#one {
    border-bottom: 1px solid black;
    width: 100%;
    background-color: white;
  }

  .navbar-brand {
    color: green;
    font-weight: bold;
  }
  
  .nav-link {
    color: black;
  }
  
  .nav-link:hover {
    color: green;
  }
  
  .fas {
    color: green;
    margin-right: 5px;
  }
  table {
    border: 1px solid black;
  }
  .items {
    text-decoration: none;
    color: black;
  }
  .i1 {
    text-align: center;
    width: 86px;
    font-size: 14px;
  }
  #i1 {
    text-align: center;
    font-size: 14px;
  }
  #slideri1 {
    width: 100%;
    border-radius: 20px;
  }
  #navbarDropdownMenuLink {
    border: 1px solid rgba(0, 0, 0, 0.219);
    border-radius: 5px;
  }

    .featured-categories{
    h2{
      border-bottom: 2px solid rgba(0, 0, 0, 0.32);
    }
      a{
      text-decoration: none;
      color: black;
      font-size: 17px;
      margin-left: 25px;
    }
    a:hover{
      background-color: #faf5f5;
      color: rgb(93, 223, 93);
    }
  
    .categories{
      display: flex;
      flex-wrap: wrap;
      
      .category-card{
        width: 120px;
        margin-top: 10px;
        margin-right: auto;
        text-align: center;
        background-color: #faf5f5;

  
        img{
          height: 110px;
          width: 110px;
          border: 0.5px solid rgb(168, 161, 161);
          margin-bottom: 10px;
        }

        img:hover{
          height: 120px;
          width: 120px;
        }
  
        p{
          font-size: 1.2rem;
          font-weight: bold;
          margin-bottom: 5px;
        }

        p:hover{
          color: rgb(81, 126, 13);
        }
  
        span{
          font-size: 1rem;
          color: #897c7c;
        }
      }
    }
  }
  
  